<div class="header" *ngIf="showHeader()">
  <div class="menu-wrapper">
    <div class="header-menu left" *ngIf="!compactMenu">
      <a [routerLink]="goTo('Guides')" routerLinkActive="active"><div class="header-item">GUIDES</div></a>
      <a [routerLink]="goTo('Library')" routerLinkActive="active"><div class="header-item">LIBRARY</div></a>
      <a [routerLink]="goTo('Commands')" routerLinkActive="active"><div class="header-item">COMMANDS</div></a>
    </div>
    <div class="unselectable logo">
      <a class="text" routerLink="/home" routerLinkActive="active">Celestia</a>
    </div>
    <div class="header-menu right" *ngIf="!compactMenu">
      <a [routerLink]="goTo('FAQ')" routerLinkActive="active"><div class="header-item">FAQ</div></a>
      <a [routerLink]="goTo('Patchnotes')" routerLinkActive="active"><div class="header-item">PATCH NOTES</div></a>
      <a [routerLink]="goTo('Donate')" routerLinkActive="active"><div class="header-item special">DONATE</div></a>
    </div>
    <button class="menu-btn">
      <i class="material-icons menu-icon" (click)="toggleCompactMenu()">menu</i>
    </button>
  </div>
</div>

<div class="compact-menu-wrapper" *ngIf="compactMenu" (window:resize)="onResize($event)">
  <div class="compact-menu">
    <a class="unselectable" routerLink="/home" routerLinkActive="active" (click)="toggleCompactMenu()">
      <i class="material-icons navbar-menu-icon">home</i>
      <span class="label">Home</span>
    </a>
    <a class="unselectable" (click)=toggleCompactMenu()>
      <i class="material-icons navbar-menu-icon">close</i>
      <span class="label">Close</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('Guides')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon">book</i>
      <span class="label">Guides</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('Library')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon">label</i>
      <span class="label">Library</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('Commands')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon">keyboard</i>
      <span class="label">Commands</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('FAQ')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon">help_outline</i>
      <span class="label">FAQ</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('Patchnotes')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon">notes</i>
      <span class="label">Patch Notes</span>
    </a>
    <a class="unselectable" [routerLink]="goTo('Donate')" routerLinkActive="active" (click)="compactMenu = false">
      <i class="material-icons navbar-menu-icon special">favorite</i>
      <span class="label">Donate</span>
    </a>
  </div>
</div>
