.page {
  position: relative;
  background-color: var(--color-grey);
  z-index: 1;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    background-image: var(--page-bg);
    opacity: 0.25;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  //width: 98%;
  max-width: 1000px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
