<div class="wrapper">
  <h1>THE LIBRARY</h1>
  <div class="desc">Welcome to the <b>Library</b>, Celestia's TCG Database.
    Find out more about your favorite characters. Search for perfect additions to your team. See which stickers fit you best.
    Click on one of the panels below to start the hunt for knowledge.
  </div>
  <div class="picker-wrapper">
    <div class="library" (click)="goTo('Characters')">
      <div class="title-pillow">
        <div class="unselectable title">Characters</div>
      </div>
      <div class="image-container">
        <img src="../../../assets/images/library/cards.png" alt="image for cards library">
      </div>
    </div>
    <div class="library" (click)="goTo('Companions')">
      <div class="title-pillow">
        <div class="unselectable title">Companions</div>
      </div>
      <div class="image-container">
        <img src="../../../assets/images/library/companions.png" alt="image for cards library">
      </div>
    </div>
    <div class="library" (click)="goTo('Stickers')">
      <div class="title-pillow">
        <div class="unselectable title">Stickers</div>
      </div>
      <div class="image-container">
        <img src="../../../assets/images/library/777985537230372874.png" alt="image for cards library">
      </div>
    </div>
  </div>
</div>
