<div class="wrapper">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
  <p class="subtext">Some of the more common questions we have received in the past summarized.</p>
  <div class="questions" *ngIf="questions">
    <div class="i-am-running-out-of-names" *ngFor="let category of categories">
      <h5>{{ category }}</h5>
      <div class="question-wrapper" *ngFor="let question of questions.get(category)">
        <div class="index">{{ count() }}</div>
        <div class="question">
          <div class="title">{{ question.question }}</div>
          <div class="answer" [innerHTML]="format(question.answer)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
